@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary: #3268a1 !important;
  --blueGrey: #637c95;
  --warning: #ffcb04 !important;
  --light-green: #cee6a9;
  --danger: #fe0000 !important;
  --grey: #707070 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

textarea {
  resize: none;
}

.bg-primary-color {
  background-color: var(--primary);
}

.bg-blue-grey-color {
  background-color: var(--blueGrey);
}

.bg-light-green-color {
  background-color: var(--light-green);
}

.text-primary-color {
  color: var(--primary);
}

.text-warning-color {
  color: var(--warning);
}

.text-danger-color {
  color: var(--danger);
}

.title {
  color: var(--primary);
  font-size: 22px;
  font-weight: bold;
}

.sub-title {
  color: var(--warning);
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none !important;
}

.opacity-8 {
  opacity: 0.8;
}

.cursor-pointer {
  cursor: pointer;
}
